{erl_opts, [debug_info]}.

{deps, []}.

{project_plugins, [rebar3_format, rebar3_hex, rebar3_ex_doc, rebar3_depup]}.

{profiles,
 [{prod, [{relx, [{dev_mode, false}]}]},
  {test,
   [{apps, [linux_proc]},
    {deps, [{meck, "1.0.0"}]},
    {erl_opts, [debug_info, export_all]},
    {eunit_compile_opts, [export_all]},
    {cover_enabled, true},
    {eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "eunit-reports/"}]}}]}]}]}.

{dialyzer, [all_deps]}.

{ex_doc,
 [{main, "README.md"},
  {extras,
   [{"README.md", #{title => "Overview"}},
    {"CHANGELOG.md", #{title => "Changelog"}},
    {"LICENSE.md", #{title => "License (Apache 2.0)"}},
    {"CODE_OF_CONDUCT.md", #{title => "Code of Conduct"}},
    {"CONTRIBUTING.md", #{title => "Contributing"}}]},
  {source_url, <<"https://github.com/cogini/linux_proc">>},
  {homepage_url, <<"https://github.com/cogini/linux_proc">>},
  {skip_undefined_reference_warnings_on, [<<"README.md">>]},
  {api_reference, false}]}.

{hex,
 [{doc, #{provider => ex_doc}}, {hex, [{repos, [#{name => <<"hexpm:jakemorrison">>}]}]}]}.

{shell,
 % {config, "config/sys.config"},
 [{apps, [linux_proc]}]}.
